# server
PORT=:8000
HOST=http://localhost

# migrations and db conn 
GOOSE_DRIVER=turso
GOOSE_DBSTRING=libsql://127.0.0.1:8080
GOOSE_MIGRATION_DIR=./migrations
GOOSE_TABLE=custom.goose_migrations

# auth stuff
COOKIE_SECRET=SECRET
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=


